ul {
  margin: 0;
}

/*************************************
    GENERAL
**************************************/


a {
  text-decoration: none;
  color:#fff;
}
img {
  max-width: 100%;
}

body {
   margin: 0;
   background-color: #b3a9a6;
   font-family: 'PT Serif', serif;
  /*background-color: #9b927a;*/
}





/*************************************
    HEADER
**************************************/
#banner {
  /*background-color: #595148;*/
  background-color: #9b927a;
  margin: 0 0 0 0;
  width:100%;
  padding:0 0 5px 0;
  float:left;
}
header {
  text-align: center;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}
header h1 {
  font-size: 40px;
}
header a {
  color:#fff;
}


/*************************************
    NAVIGATION
**************************************/
nav {
  text-align: center;
  background-color: #b6453f;
  margin:0 0 0 0;
  padding:0 0 0 0;
  border:0;
  clear:left;
  float:left;
  width:100%;


}
nav a {
  text-decoration: none;
  color:white;
  font-size:15px;
}
nav ul {
  list-style: none;
  margin:0;
  padding: 0px;

}

nav li {
    background-color: #b6453f;
    display:inline-block;
    padding:5px 5px 0;
    font-family:'Special Elite', cursive;
    /*margin-top: 2px 0;*/
}
.selected {
  font-weight:strong;
  font-size:110%;
  background-color:#b3a9a6;
  padding: 10px 5px 0;
  text-decoration: underline;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration-color: #000;
}

/*************************************
    SECTION
**************************************/
#brandonPhoto {
  float:left;
  max-width:40%;
}
#brandonPhoto img {
  max-width:50%;
  border-radius:100%;
  align-items: center;
  margin-left: 35%;
  margin-top: 20px;
  border-width: 1px;
  border-color: #000;
  border-style:solid;
  float:left;
}



#textSection p {
  float:right;
  max-width:50%;
  border-left-color: #000;
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 10px;
  margin-top: 35px;
}

section ul {
    list-style: none;
}
section {
  text-align: center;
  margin-top: 50% auto;
  padding-top: 50% auto;
}
#projects {
  margin: 0;
  padding: 0;
  list-style: none;
}
#projects li {
  float:left;
  width:45%;
  margin: 2.5%;
  background-color: #595148;
  color:#000;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}
#projects li img {
  border:0;
  border-radius:0;
  width:100%;
  border-bottom:1px;
  border-color: #000;
}
#projects li p {
  font-size:90%;
  color: fff;
  border-color: #000;
  border-width: 1px;
  font-family:'Special Elite', cursive;
}

#contact ul {
  margin:30px 0;
  align-items: center;
}


/*************************************
    FOOTER
**************************************/

footer {
  text-align:center;
  clear:both;
  margin-top: 200px;
}

footer img{
  max-width: 30px;
  border-radius: 50%;
  margin-bottom:10px;
}

footer p {
  font-size:75%;
}
